[Unit]
Description=cmdchallenge
After=network-online.target

[Service]
ExecStartPre=docker run --rm -v /var/opt/www/cmdchallenge:/mnt/out runcmd:arm64 /bin/cp -r /app/dist/. /mnt/out
ExecStartPre=+chown -R cmd /var/opt/www/cmdchallenge
User=cmd
Restart=on-failure

ExecStart=/usr/bin/docker run --user cmd --rm --name cmdchallenge -p 8181:8181 \
  -e CMD_DB_FILE=/var/opt/cmdchallenge/db.sqlite3 \
  -e CMD_SET_RATE_LIMIT=true \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v /var/opt/cmdchallenge:/var/opt/cmdchallenge \
  runcmd:arm64

[Install]
WantedBy=multi-user.target
