export CLOUDFLARE_EMAIL=john@jarv.org
export CLOUDFLARE_API_KEY=$(op read --account my.1password.com op://personal/direnv/CLOUDFLARE_API_KEY)
export REGISTRY_ACCESS_TOKEN=$(op read --account my.1password.com op://personal/direnv/REGISTRY_ACCESS_TOKEN)
