export CLOUDFLARE_EMAIL=john@jarv.org
export CLOUDFLARE_API_KEY=$(op read --account my.1password.com op://personal/direnv/CLOUDFLARE_API_KEY)
export REGISTRY_ACCESS_TOKEN=$(op read --account my.1password.com op://personal/direnv/REGISTRY_ACCESS_TOKEN)
export AWS_ACCESS_KEY_ID=$(op read --account my.1password.com op://personal/direnv/CMDCHALLENGE_AWS_ACCESS_KEY_ID)
export AWS_SECRET_ACCESS_KEY=$(op read --account my.1password.com op://personal/direnv/CMDCHALLENGE_AWS_SECRET_ACCESS_KEY)
export AWS_DEFAULT_REGION=us-west-1
