[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipython = "*"
black = "==19.3b0"
yamllint = "*"

[packages]
docker = "*"
requests = "*"
pyyaml = "*"
colorama = "*"
awslogs = "*"
awscli = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
