[Unit]
Description=cmd-testing
After=network-online.target

[Service]
User=cmd
Restart=on-failure

ExecStart=/usr/bin/docker run --rm --name %n -p 8282:8181 \
  -e CMD_DB_FILE=/var/opt/cmd/db.sqlite3 \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v /var/opt/cmd:/var/opt/cmd \
  runcmd:arm64

[Install]
WantedBy=multi-user.target
