[Unit]
Description=Cleans up docker images

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'docker ps -f status=exited -q | xargs -r docker rm; docker ps --filter status=dead --filter status=exited -aq | xargs -r docker rm -v; docker ps | grep -P "Up (\d\d minutes|\d+ hour|\d+ day)" | awk "{print \$1}" | xargs -r docker rm -f'
