[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=prometheus
Restart=on-failure

ExecStart=/var/lib/docker/prometheus/prometheus/prometheus \
  --config.file=/var/lib/docker/prometheus/prometheus/prometheus.yml \
  --storage.tsdb.path=/var/lib/docker/prometheus/prometheus/data

[Install]
WantedBy=multi-user.target
